html{
    flex: 1;
}

.carrousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    padding: 2rem;
}

.card{
    background-color: white;
    border-radius: 10px;

    vertical-align: center;
    text-align: center;

    height: auto;
    width: 6rem;
    padding: 2rem 3rem;

    margin-right: 1rem;

    border-color: black;
    border-style: solid;
    border-width: 2px;
    
}